# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_Store

**/lpr.env

ansible-conf
training_extractor/.eggs
training_extractor/out
training_extractor/sorted
training_extractor/extractor.egg-info
**/*.pyc
keys

playbooks/shared-ansible-roles

sample
**/*.mkv
**/*.mpg
**/*.mpeg
**/*.avi
**/testdata/*.jpg
**/test_output/*.jpg

docs/axis_camera_manuals
**/pkg
**/bin

/watcher/watched_dir/
/uploader/*.jpg

/motion_docker/images
